<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lifeactivityapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OtherChoicesActivity"></activity>
        <activity android:name=".ConcertsChoicesActivity" />
        <activity android:name=".MoviesChoicesActivity" />
        <activity android:name=".DinnerChoicesActivity" />
        <activity android:name=".LunchChoicesActivity" />
        <activity android:name=".BreakfastChoicesActivity" />
        <activity android:name=".EntertainmentChoicesActivity" />
        <activity android:name=".EatChoicesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>